.appWrapper {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: black;
  min-height: 100vh;
  color: white;
}

.title {
  color: white;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.queryInput {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem;
  margin: 3rem 0 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f8f9fa;
  color: black;
}

.submitButton {
  width: 100%;
  max-width: 200px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 4px;
  background-color: #027948;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: rgb(127, 127, 127);
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.resultDisplay {
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  padding: 0.5rem;
  margin: 3rem 0 0 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f9fa;
  white-space: pre-wrap;
  box-sizing: border-box;
  color: #777;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  display: flex;
}

.resultPlaceholder {
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  color: #777; /* Subtle gray color to indicate placeholder */
}

.appWrapper a {
  color: #027948;
  font-weight: bold;
}

.logoContainer {
  display: flex;
  position: absolute;
  top: 2rem;
  left: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  margin-right: 10px;
  width: 60px; /* Adjusted width to make the logos smaller */
  height: auto; /* Maintain aspect ratio */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 1rem 0;
}

.appWrapper p {
  margin: 0.3rem 0; /* Reduce vertical space between paragraphs */
  line-height: 1.2; /* Adjust line height for tighter spacing */
}
